* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: auto;
  background: yellow;
  text-align: center;
  padding: 20px 0;
}

section {
  width: 100%;
  height: auto;
  padding: 30px;
  background: skyblue;
  color: #fff;
  text-align: center;
}

section h2 {
  font-size: 20px;
}

footer {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 10px 0;
  background: #000;
  color: #fff;
}
